@import url(http://fonts.googleapis.com/css?family=Poiret+One|Bangers|Open+Sans:400,700);

//Colors
$primary: #333;
$fb-blue: #3b5998;
$twitter-blue: #00aced;
$youtube-red: #bb0000;
$instagram-blue: #517fa4;

*{
    transition: all 0.5s ease;
}
body{
 background-color: #d3d3d3;   
}
html, h1, h2, h3, h4, h5, h6, p, a, li{
 font-family: "Open Sans";   
}
.name{
    a{
        font-family: "Poiret One";
        font-size: 28px;
        @media (min-width: 64.063em){
            padding-left: 0 !important;
        }
    }
}
.top-bar-section{
    input{
        box-sizing: inherit;   
    }
}
.item{
    padding: 10px 10px 0 10px;
}
.vid-container{
    width: auto;
    .video{
        background-size: cover;
        width: 100%;
        height: 200px;
        background-color: tomato;
        .video-header{
            h2{
                padding: 10px 0;
                color: white; 
                text-align: center;
                font-size: 28px;
                span{
                    font-weight: bold;
                }
            }
        }
        .mobile-info{
            //background-color: rgba(0, 0, 0, .5);
            background-color: white;
            position: relative;
            top: 98px;
            height: 35px;
            width: 45%;
            float: right;
            border-radius: 25px 0 0 0;
            p{
                font-size: 12px;
                padding: 5px;
                text-align: center;
            }
            &:hover{
                width: 100%; 
                border-radius: 0;
                cursor: pointer;
                p{
                    font-weight: bold;
                }
            }
        }
        .play-icon{
            img{
                width: 50px;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -22px;
                margin-left: -22px;
                &:hover{
                    padding: 2px;
                    transition: .2s;
                    //opacity: .5;
                }
                @media (min-width: 40.063em){
                    width: 80px;
                    top: 35%;
                    left: 44%;
                }
            }
        }
        &:hover{
         cursor: pointer;   
        }
    }
    .info{
        display: none;
        font-family: "Poiret One";
        background-color: $primary;
        height: auto;
        color: white;
        text-align: center;
        p{
            margin-bottom: 0; 
            padding: 5px 0;
        }
        .video-title{
            font-size: 24px;   
        }
        .video-info{
            background-color: darken($primary, 5%);   
        }
        @media (min-width: 40.063em){
            display: block;   
        }
    }
    .one{
        background-image: url('../images/snowboard.jpg');
    }
    .two{
        background-image: url('../images/snowboard-2.jpg');
    }
    .three{
        background-image: url('../images/snowboard-3.jpg');
    }
    .four{
        background-image: url('../images/snowboard-4.jpg');
    }
    .five{
        background-image: url('../images/snowboard-5.jpg');
    }
    .six{
        background-image: url('../images/snowboard-6.jpg');
    }
}
.footer{
    p{
        font-size: 10px;
        color: #999;
        @media (min-width: 64.063em){
            text-align: left;   
        }
    }
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0;
        }
    }
    .social-info{
        display: none;
        color: white;
        font-family: "Poiret One";
        padding: 0 10px;
        @media (min-width: 40.063em){
            display: inline-block;
        }
    }
    i{
        font-size: 28px;
        color: white;
    }
    .fa-facebook-square{
        &:hover{
            color: $fb-blue;
        }
    }
    .fa-twitter-square{
        &:hover{
            color: $twitter-blue;
        }
    }
    .fa-instagram{
        &:hover{
            color: $instagram-blue;
        }
    }
    .fa-youtube-square{
        &:hover{
            color: $youtube-red;
        }
    }
}